@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

html, body {
  font-family: var(--font-sans);
  background-color: #0F172B !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.dark {
  --bg-sidebar: #1D293D;
  --bg-iconber: #172236;
  --bg-page: #0F172B;
}

/* Swiper Pagination Styling Customization */
.swiper-pagination-bullet {
  background: #64748b !important;
  opacity: 0.4;
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background: #f59e0b !important;
  opacity: 1 !important;
  width: 14px !important;
  border-radius: 3px !important;
  transition: width 0.3s ease;
}
